# Django Secret Key (Replace with a secure random key in production)
SECRET_KEY=django-insecure-vgl#_ywi=cma-=q#3tghmy#@3bj%zod_46rc8q(=)v+1b(_nb)

# Debug mode (True for development, False for production)
DEBUG=True

# Allowed hosts (comma-separated for production)
ALLOWED_HOSTS=127.0.0.1,localhost
